/* src/components/Sidebar.css */
.sidebar-link {
  text-decoration: none;
  color: #fff;
}

.sidebar-link:hover {
  background-color: #555; /* Hover effect */
}

.sidebar-link.active {
  background-color: #555; /* Active link color */
  color: #fff;
}

.sidebar {
  width: 250px;
  background-color: #1f1f1f; /* Dark background */
  height: 100vh;
  color: #fff;
}

.sidebar-icon {
  color: #fff;
}

.sidebar-logo {
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #ff9500; /* Orange logo background */
  color: white;
}
